body{
  background-color: #222;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Styles pour le conteneur principal */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

#homePage {
  text-align: right; /* Align the text to the right */
  margin: 10px; /* Add some margin for spacing */
  text-decoration: none; /* Remove underline from the link */
}


#footer {
  display: flex;
  justify-content: center;
  background-color: #222;
  color: #fff;
}

/* Hidden class */
.hidden {
  display: none;
}

#cafeMooTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: aliceblue;
  text-decoration: none;
}

#cafeMooTitle:hover {
  color: green;
  text-decoration: none;
}

.dropdown-container {
  display: flex;
  justify-content: left; /* Adjust as needed */
  align-items: left; /* Adjust as needed */
}


.message {
  margin: 10 10px; /* Adjust spacing between dropdowns */
  padding: 70px;
}

.dropdown {
  margin: 0 10px; /* Adjust spacing between dropdowns */
}
